body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background: #6532cb;

  padding-left: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
h1 {
  padding-right: 1rem;
}
h2 {
  padding-right: 1rem;
}
main {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
ul {
  display: block;
  list-style-type: none;
  font-size: 1.5rem;
}
li {
  margin-top: 1rem;
}
.stock-ul {
  list-style-type: none;
}

table {
  margin-top: 4rem;
  font-size: 1rem;
  line-height: 1.45rem;
  width: 80%;
  margin-left: 10%;
  border: black solid 1px;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: rgb(128, 108, 108);
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}
